header{
    .colored{
        color: var(--primary-color-dark);
    }
    .top-header{
        background-color: var(--header-accent-bg);
        padding: 8px 0;
        .call-us{
            font-size: 1rem;
            font-weight: 600;
            font-family: var(--primary-font);
            color: var(--white-color);
            text-transform: uppercase;
            .colored{
                margin-right: 4px;
            }
        }
        .auth-links{
            display: flex;
            li{
                margin-top: 4px;
                a{
                    color: var(--white-color);
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: var(--primary-font);
                    display: inline-block;
                    text-transform: uppercase;
                    &.colored{
                        color: var(--primary-color-dark);
                    }
                }
                +li{
                    margin-left: 8px;  
                }
            }
        }
    }
    .main-header{
        background-color: var(--header-gray-bg);
        padding: 8px 0;
        .logo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            a{
                color: var(--primary-color);
                font-size: 2rem;
                font-family: var(--primary-font);
                font-weight: 600;
                .dark{
                    color: var(--dark-color)
                }
            }
            .toggle-menu-btn{
                display: block;
                width: 32px;
                padding: 8px;
                .bar{
                    display: block;
                    height: 3px;
                    background-color: var(--dark-color);
                    border-radius: 1px;
                    +.bar{
                        margin-top: 6px;
                    }
                }
            }            
        }
        &.show-menu{
            .links{
                height: auto;
            }
        }
        .links{
            background-color: #e0e0e0;
            margin: 8px -16px -8px;
            height: 0;
            overflow: hidden;
            ul{
                padding: 16px 0;
                li{
                    a{
                        font-size: 1rem;
                        font-weight: 300;
                        font-family: var(--secondary-font);
                        display: block;
                        padding: 16px;
                        color: var(--dark-color);
                        text-transform: uppercase;
                    }
                    &.has-sub{
                        .sub-menu{
                            padding: 0;
                            padding-left: 16px;
                            a{
                                display: inline-block;
                                padding: 0 8px;
                                line-height: 18px;
                                margin-bottom: 6px;
                                border-left: 2px solid var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
}